WorldBank/CashAppDashboard/Connected Services/WebService/MyWebServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://LabProg.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://LabProg.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://LabProg.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Registro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="paciente" type="tns:Paciente" />
            <s:element minOccurs="0" maxOccurs="1" name="dosis" type="tns:Dosis" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Paciente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Cedula" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombres" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellidos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sexo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ciudad" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Fecha_Nacimiento" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Dosis">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Cedula_Usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Matricula_Centro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre_Centro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Fase_Vacunacion" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Secuencia" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegistroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistroResult" type="tns:Respuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Respuesta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Codigo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDataPaciente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cedula" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataPacienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataPacienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="RegistroSoapIn">
    <wsdl:part name="parameters" element="tns:Registro" />
  </wsdl:message>
  <wsdl:message name="RegistroSoapOut">
    <wsdl:part name="parameters" element="tns:RegistroResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataPacienteSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataPaciente" />
  </wsdl:message>
  <wsdl:message name="GetDataPacienteSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataPacienteResponse" />
  </wsdl:message>
  <wsdl:portType name="MyWebServicesSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Registro">
      <wsdl:input message="tns:RegistroSoapIn" />
      <wsdl:output message="tns:RegistroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataPaciente">
      <wsdl:input message="tns:GetDataPacienteSoapIn" />
      <wsdl:output message="tns:GetDataPacienteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MyWebServicesSoap" type="tns:MyWebServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://LabProg.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registro">
      <soap:operation soapAction="http://LabProg.org/Registro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataPaciente">
      <soap:operation soapAction="http://LabProg.org/GetDataPaciente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MyWebServicesSoap12" type="tns:MyWebServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://LabProg.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registro">
      <soap12:operation soapAction="http://LabProg.org/Registro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataPaciente">
      <soap12:operation soapAction="http://LabProg.org/GetDataPaciente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyWebServices">
    <wsdl:port name="MyWebServicesSoap" binding="tns:MyWebServicesSoap">
      <soap:address location="http://localhost:50060/MyWebServices.asmx" />
    </wsdl:port>
    <wsdl:port name="MyWebServicesSoap12" binding="tns:MyWebServicesSoap12">
      <soap12:address location="http://localhost:50060/MyWebServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>